html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #4f5b6d;
    color: #fff;
}

div {
    box-sizing: border-box;
}

.mdt-panel {
    background-color: #384359;
    padding: 10px;
    border-radius: 2px;
    min-height: 100px;
    max-width: 500px;
    margin: 3px auto;
}

.mdt-container {
    padding: 10px 5px 0 5px;
}

.square-menu__button {
    margin: 5px;
    font-size: 20px;
    width: 50px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.dispatcher-panel__container {
    margin-top: 5px;
}

.dispatcher-panel__title.dispatcher-panel__title--selected,
.dispatcher-panel__title:hover {
    opacity: 1;
}

.dispatcher-panel__title {
    padding: 0px 5px 1px 5px;
    background-color: #384359;
    width: auto;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
    font-size: 80%
}

.dispatcher-panel__block {
    background-color: #384359;
    padding: 10px;
    min-height: 100px;
}

.dispatcher-panel__block .dispatcher-panel__block--secondary {
    background-color: #4f5b6d;
}

.dispatcher-container {
    padding: 10px 5px 0 5px;
}

.unit-badge {
    position: relative;
    background-color: #4f5b6d;
    height: 50px;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px;
    min-width: 250px;
}

.unit-badge.unit-badge--auto-width {
    width: 100%;
}

.unit-badge__primary-text {}

.unit-badge__secondary-text {
    color: #ccc;
    font-size: 80%;
    font-weight: 400;
}

.unit-badge__role-list {
    position: absolute;
    top: 5px;
    right: 50px;
}

.unit-badge__arrow-right {
    padding-left: 5px;
}

.unit-badge__arrow-left {
    padding-right: 5px;
}

.unit-badge__arrow-right,
.unit-badge__arrow-left {
    top: calc(50% - 15px);
    position: relative;
    height: calc(100% - 10px);
    font-size: 20px;
    width: 30px;
}

.unit-badge__role-image {
    float: left;
    margin: 0px 2px;
}

.clear {
    clear: both;
}

.state-code__box {
    padding: 0 5px;
    border-radius: 2px;
    display: inline-block;
    background-color: #5cb85c;
}

.state-code__box.state-code__box--0 {
    background-color: #dc3545;
}

.chat-message__container {
    padding: 5px 0;
}

.chat-message-author {
    color: #007bff;
}

.chat-message__time {
    font-size: 70%;
    font-weight: 400;
    color: #ccc;
}

.state-zero-flash {
    -webkit-animation: flash linear 0.6s infinite;
    animation: flash linear 0.6s infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

.loading-panel__container {
    display: flex;
    justify-content: center;
}

.loading-panel__content {
    margin-top: 50px;
}

.lds-dual-ring {
    display: block;
    width: 48px;
    height: 48px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bordered-container {
    border-radius: 10px;
    width: 100%;
    position: relative;
    border: 2px solid #FFF;
    margin-bottom:1rem;
    margin-top:1rem;
}

.bordered-container__heading {
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 0 10px;
    background: #384359;
}

.bordered-container__content{
    padding: 20px 10px 10px 10px;
    width:100%;
}
