html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #4f5b6d;
    color: #fff;
}

div {
    box-sizing: border-box;
}

.mdt-panel {
    background-color: #384359;
    padding: 10px;
    border-radius: 2px;
    min-height: 100px;
    max-width: 500px;
    margin: 3px auto;
}

.mdt-container {
    padding: 10px 5px 0 5px;
}

.square-menu__button {
    margin: 5px;
    font-size: 20px;
    width: 50px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.dispatcher-panel__container {
    margin-top: 5px;
}

.dispatcher-panel__title.dispatcher-panel__title--selected,
.dispatcher-panel__title:hover {
    opacity: 1;
}

.dispatcher-panel__title {
    padding: 0px 5px 1px 5px;
    background-color: #384359;
    width: auto;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 4px;
    opacity: 0.5;
    cursor: pointer;
    font-size: 80%
}

.dispatcher-panel__block {
    background-color: #384359;
    padding: 10px;
    min-height: 100px;
}

.dispatcher-panel__block .dispatcher-panel__block--secondary {
    background-color: #4f5b6d;
}

.dispatcher-container {
    padding: 10px 5px 0 5px;
}

.unit-badge {
    position: relative;
    background-color: #4f5b6d;
    height: 50px;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 5px;
    min-width: 250px;
}

.unit-badge.unit-badge--auto-width {
    width: 100%;
}

.unit-badge__primary-text {}

.unit-badge__secondary-text {
    color: #ccc;
    font-size: 80%;
    font-weight: 400;
}

.unit-badge__role-list {
    position: absolute;
    top: 5px;
    right: 50px;
}

.unit-badge__arrow-right {
    padding-left: 5px;
}

.unit-badge__arrow-left {
    padding-right: 5px;
}

.unit-badge__arrow-right,
.unit-badge__arrow-left {
    top: calc(50% - 15px);
    position: relative;
    height: calc(100% - 10px);
    font-size: 20px;
    width: 30px;
}

.unit-badge__role-image {
    float: left;
    margin: 0px 2px;
}

.clear {
    clear: both;
}

.state-code__box {
    padding: 0 5px;
    border-radius: 2px;
    display: inline-block;
    background-color: #5cb85c;
}

.state-code__box.state-code__box--0 {
    background-color: #dc3545;
}

.state-code__box.state-code__box--1,
.state-code__box.state-code__box--2,
.state-code__box.state-code__box--7,
.state-code__box.state-code__box--3 {
    background-color: #28a745;
}

.state-code__box.state-code__box--4,
.state-code__box.state-code__box--6 {
    background-color: #913f7a;
}

.state-code__box.state-code__box--5 {
    background-color: #acc4d9;
}

.state-code__box.state-code__box--8,
.state-code__box.state-code__box--9,
.state-code__box.state-code__box--10,
.state-code__box.state-code__box--11 {
    background-color: #c7c7c7;
}

.chat-message__container {
    padding: 5px 0;
}

.chat-message-author {
    color: #007bff;
}

.chat-message__time {
    font-size: 70%;
    font-weight: 400;
    color: #ccc;
}

.state-zero-flash {
    -webkit-animation: flash linear 0.6s infinite;
    animation: flash linear 0.6s infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

.loading-panel__container {
    display: flex;
    justify-content: center;
}

.loading-panel__content {
    margin-top: 50px;
}

.lds-dual-ring {
    display: block;
    width: 48px;
    height: 48px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bordered-container {
    border-radius: 10px;
    width: 100%;
    position: relative;
    border: 2px solid #FFF;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.bordered-container__heading {
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 0 10px;
    background: #384359;
}

.bordered-container__content {
    padding: 20px 10px 10px 10px;
    width: 100%;
}

.pre-wrap {}

.notification {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
    width: 200px;
    border: 1px solid #384359;
    margin: 10px;
    position: relative;
    background-color: #4f5b6d;
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.notification__header {
    font-size: 18px;
    background-color: #384359;
    display: block;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notification__body {
    padding: 5px 10px;
}

.notification__close {
    position: absolute;
    top: 2px;
    right: 8px;
}

.notification-list {
    position: absolute;
    right: 0px;
    z-index: 10;
    top: 0px;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-19 17:8:36
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

html, body {
    height: 100%;
    color: #efefef;
}

.hidden {
    display: none;
}

.flex-container {
    display: flex;
    background: #4f5b6d;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container .login-main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container .login-main-content .login-form {
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: #384359;
    border-radius: 2px;
    min-height: 100px;
    max-width: 500px;
}

.spinner {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 20px auto;
}

.spinner::before {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    content: '';
    border-radius: 50%;
    border: 1px solid transparent;
    border-left: 1px solid #ccc;
    border-bottom: none;
    animation-name: spinner--spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

.spinner::after {
    content: '';
    display: block;
    border-radius: 50%;
    border: 1px solid transparent;
    border-right: 1px solid #ccc;
    border-bottom: none;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    position: absolute;
    animation-name: spinner--spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes spinner--spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    background-color: #efefef;
    margin-top: 50px;
}

.system-alert {
    margin: 10px;
    background-color: #ff1227;
}
